name: Test Workflow

on:
  workflow_call:
    inputs:
      fetch_depth:
        required: false
        type: string
        default: 0
    secrets:
      github_key:
        required: true
      sonar_key:
        required: true
      sandbox_secret_id:
        required: false
      sandbox_secret_key:
        required: false

jobs:
  checks:
    name: Pass input and secrets to my-action
    runs-on: ubuntu-latest
    env:
      NORDIGEN_SANDBOX_SECRET_ID: ${{ secrets.sandbox_secret_id }}
      NORDIGEN_SANDBOX_SECRET_KEY: ${{ secrets.sandbox_secret_key }}
    strategy:
      matrix:
        python:
          - '3.11'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: ${{ inputs.fetch_depth }}
      - name: Set up Python Version
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - name: setup
        run: make install-dev
      - name: isort
        run: make isort
      - name: black
        run: make black
      - name: flake8
        run: make flake8
      - name: test
        run: make test
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.sonar_key }}
